img{border:none;max-width:100%;}

.part{padding:3.27rem 0;background:url(../images/mobile/part-bg-01.jpg) no-repeat center top;background-size:100% 100%;box-sizing:border-box;-webkit-box-sizing:border-box;}
.part .hd h3{display:inline-block;width:12.36rem;height:2.72rem;line-height:2.72rem;font-size:1.36rem;font-weight:normal;color:#f3ddff;background-color:#7618ad;}
.part .hd h3 span{padding-left:2.8rem;background:url(../images/title-01.png) no-repeat left center;background-size:auto 80%;}
.part .bd{line-height:2;padding:1.82rem 5rem 10rem;margin-top:1.82rem;text-align:justify;justify-content:center;font-size:1.2rem;color:#f3ddff;background:url(../images/mobile/content.png) no-repeat center top;background-size:100% 100%;}
.part .bd p + p{padding-top:1rem;}
.part .bd p span{color:#facb00;}

.introduce{}
.introduce .hd h3 span{background-position-x:0.4rem;}
.introduce .btn a{display:inline-block;width:60%;height:4.72rem;line-height:4rem;font-size:1.36rem;color:#c14cff;background:url(../images/btn.png) no-repeat;background-size:100% 100%;}

.award{background-image:url(../images/mobile/part-bg-02.jpg);}
.award .hd h3 span{background-image:url(../images/title-02.png);}
.award dl dt{float:left;width:7.5rem;padding-top:7.27rem;text-align:center;background:url(../images/award-01.png) no-repeat center top;}
.award dl dd{position:relative;margin:3.64rem 0 0 8rem;}
.award dl dd .schedule{position:absolute;left:0;width:100%;height:9px;border:1px solid #c78930;background-color:#facb00;border-radius:5px;-webkit-border-radius:5px;box-sizing:border-box;-webkit-box-sizing:border-box;box-shadow:1px 1px 5px #60058f,-1px -1px 5px #60058f;}
.award dl dd .schedule-hover{position:absolute;left:0;top:0;height:100%;background:url(../images/award-03.png) repeat-x left center;border-radius:5px 0 0 5px;-webkit-border-radius:5px 0 0 5px;}
.award dl dd .per{display:inline-block;position:absolute;left:0;bottom:280%;height:20px;line-height:20px;padding:0 5px;margin-left:-13px;font-size:14px;color:#9327d3;background-color:#faab00;border-radius:5px;-webkit-border-radius:5px;}
.award dl dd .per:before{content:"";position:absolute;left:50%;top:100%;margin-left:-3px;border-left:4px solid transparent;border-right:4px solid transparent;border-top:6px solid #faab00;}
.award dl dd .per-01{left:9%;}
.award dl dd .per-02{left:20%;}
.award dl dd .per-03{left:100%;margin-left:-16px;}
.award dl dd .unit{position:absolute;top:100%;right:0;}
.award dl + dl{padding-top:2.72rem;}
.award dl + dl dt{padding-top:3.64rem;background-image:url(../images/award-02.png);}
.award dl + dl dd{margin-top:1.82rem;}
.award dl + dl dd .per{margin-left:-24px;}

.rule{background-image:url(../images/mobile/part-bg-03.jpg);}
.rule .hd h3 span{background-image:url(../images/title-03.png);}

.footer{font-size:1.2rem;color:#9b3fd7;}