*{box-sizing:border-box;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
q:before,q:after{content:'';}/* 消除q前后的内容 */
button,input,select,textarea{font-size:100%;}/* 使得表单元素在 ie 下能继承字体大小 */
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
address,cite,dfn,em,var{font-style:normal;} /* 将斜体扶正 */
img{border:none; vertical-align:middle;}
ul,ol,li{list-style-type:none;}

body{font:12px/2 "Microsoft YaHei", "微软雅黑"; color: #666;}

a{color:#666; text-decoration:none;}
a:hover{color:#f90; text-decoration:none;}
a:focus,input:focus{outline:0;}

.fl,.left{float:left;}
.fr,.right{float:right;}
.t_l{text-align:left;}
.t_c{text-align:center;}
.t_r{text-align:right;}
.pos{position:relative;}
.br5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}

/* pc端 */

.wrapper{width:100%;min-width:1200px;overflow:hidden;}

.container{width:1200px; margin:0 auto;}

.top{background-color: #f9f9f9;}
.top .container{height:60px; line-height:60px; position:relative; text-align:center;}
.top .logo{margin-top:-3px;}
.top .nav a,.top .nav span{float:left;}
.top .nav a{display:inline-block; padding:0 15px;}

.mainpc{width:1920px;position:relative;left:50%;margin-left:-960px;background:#eee;overflow:hidden;}
.pageimg{width:100%;text-align:center;padding:25px 0;}

a.newyear_logo{width:170px;height:50px;background:url(../../../images/logo.png) no-repeat;overflow:hidden;line-height:300px;display:block;margin-top:10px;}